body {
  background-color: #f5f5f5; /* Color de fondo pastel */
}

.container {
  border-radius: 10px; /* Bordes redondeados */
  background-color: #fff; /* Fondo blanco */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Sombra suave */
  padding: 20px;
  margin-top: 20px;
}

.navbar {
  border-radius: 8px; /* Bordes redondeados para la barra de navegación */
}

/* Agrega este bloque de estilos para el efecto hover */
.navbar-nav .nav-link:hover {
  background-color: transparent; /* Fondo transparente */
  color: #B2A4FF; /* Color pastel para las letras */
}

.navbar-nav .nav-item.active .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link.show,
.navbar-nav .show > .nav-link {
  background-color: transparent; /* Fondo transparente para el elemento activo */
  color: #B2A4FF;
}
