<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <link rel="stylesheet" href="static/css/index.css"> <!-- Asegúrate de ajustar la ruta según tu estructura de carpetas -->
  <link rel="icon" href="../static/img/logo.png" type="image/x-icon">
  <title>Mi Página Personal</title>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="/">
    <img src="../static/img/logo.png" alt="Logo" width="30" height="30" class="d-inline-block align-top">
    Mi Página
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav ml-auto">
        <li class="nav-item">
        <a class="nav-link" href="https://github.com/mariorodvenUS">GitHub</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="https://www.linkedin.com/in/mario-rodriguez-698a8b159/">LinkedIn</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="http://marven.es">Esibot</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="sobremi">Sobre Mí</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="proyectos">Proyectos</a>
        </li>
        <li class="nav-item">
        <a class="nav-link" href="contacto">Contacto</a>
        </li>
    </ul>
  </div>
</nav>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="../static/img/vergilio el monstruo.jpeg" class="card-img-top" alt="Imagen 1">
        <div class="card-body" style="background-color: #B2A4FF;">
          <p class="card-text text-white">Vergilio el monstruo.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="../static/img/id win.jpg" class="card-img-top" alt="Imagen 2">
        <div class="card-body" style="background-color: #FFB4B4;">
          <p class="card-text text-white">Nah, I'd win.</p>
        </div>
      </div>
    </div>
    <div class="col-md-4 mb-4">
      <div class="card">
        <img src="../static/img/ArchLinux.png" class="card-img-top" alt="Imagen 3">
        <div class="card-body" style="background-color: #FFDEB4;">
          <p class="card-text text-white">Arch Linux nomas.</p>
        </div>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

</body>
</html>
